.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}

.foot-1 p {
  text-align: center;
}

.foot-h3,
.foot-1 h1 {
  color: orange !important;
}

.foot-5-social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
}

.foot-5-social {
  font-size: 30px;
  cursor: pointer;
}

.social-ul li:hover {
  color: orange;
}

.scroll-up {
  display: flex;
  justify-content: center;
  margin-top: 68px;
}

.scroll-up li {
  font-size: 48px;
}

.scroll-up li:hover {
  font-size: 53px;
  transition: font-size 0.3s ease-in-out;
}

.scroll-up li:hover {
  animation: shining 3s ease infinite;
}

@keyframes shining {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 0.5;
    transform: scale(1);
  }
}
.parent p{
  padding-left: 4%;
}
/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  .parent {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .scroll-up {
    margin-top: 20px;
  }

  .foot-media {
    display: flex;
    gap: 50px;
    justify-content: center;
  }

  .foot-5-social ul {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
  }

  .foot-1 {
    text-align: center;
  }


 
    

  
}
