@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

.checkout-h1{
    text-align: center;
}

.total-td{
  font-weight: 700;

}
.container-checkout{
  font-family: 'Roboto Condensed', sans-serif;
    color: black;
    margin-top: 50px;
    height: 140vh;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 30%;
}
@media (min-width: 1200px)
{
  .container-checkout{
    max-width: 1140px;
  }
}
.d-flex{
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}

.Yorder{
  flex: 2;
}
.title-checkout{
background-color: orange;
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: #f6f6f6;
}
.checkout-h1{
  margin: 0;
  padding-left: 15px; 
}
.required{
  color: red;
 
}
.form-checkout label, 
.checkout-table{
  display: block;
  margin: 15px;
}
.form-checkout label>span{
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
 .form-checkout input[type="text"],  .form-checkout input[type="tel"],  .form-checkout input[type="email"], .form-checkout  select
{
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #000000;
  font-weight: 500;
}

.Yorder{
  margin-top: 15px;
  height: 600px;
  padding: 20px;
  border: 1px solid #dadada;
}
.checkout-table{
  margin: 0;
  padding: 0;
}
.checkout-table th{
  border-bottom: 1px solid #dadada;
  padding: 10px 0;
}
.checkout-table  tr>td:nth-child(1){
  text-align: left;
  color: #2d2d2a;
}
.checkout-table  tr>td:nth-child(2){
  text-align: right;
  color: #52ad9c;
}
.checkout-table  td{
  border-bottom: 1px solid #dadada;
  padding: 25px 25px 25px 0;
}


.Yorder>div{
  padding: 15px 0; 
}

.btn-checkout{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: orange;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}
.btn-checkout:hover{
  cursor: pointer;
  background: #428a7d;
}

// .form-checkout span{
// color: black;
// }

@media screen and (max-width: 768px) {

.d-flex{
  padding: 0;
}

.form-checkout {
  flex: 2 1;
}

.Yorder {
  margin-top: 15px;
  height: 600px;
  padding: 0px; 
  border: 0px solid #dadada;
}

.container-checkout {

   padding-right: 0px;
   padding-left: 0px;
   height: 100vh;
}

.checkout-table tr > td:nth-child(2) {

  text-align: right;
  color: #000000;
  font-weight: 700;
}

.form{
  padding: 0;
}


}