// //Hero
body{
  background-color: #060606;
  color: white !important;
}

.potential,
.performance{
  color: #f87e0b;
}
////////////////////////{NEW HERO}////////////////////////////

.container-hero{
  display: flex;
  flex-direction: row;
  gap: 15%;
  min-height: 92vh;
  justify-content: center;
}

.hero-p1{
  height: 8px;
}


.hero-sec1 {
  padding-left: 3rem;
    margin-top: 100px;
    margin-left: -10%;
}


.container-hero{
background-color:#060606;
color: white;
}

.hero-h1{
  font-size: 45px;
}
.hero-p{
padding-left: 1rem;
}


.hero-btn button{
  border-radius: 25px;
  width: 135px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  margin-left: 100px;
  color: white;
  background-color:#ff7c00;
  margin-top: 10vh;
  transition: 0.5s;


}

.hero-btn button:hover{
  background-color: white;
  color: #ff8b3d;
  cursor: pointer;

}
.hero-p{
  width: 50%;
  height: 0px;
}


.hero-sec2 {
  position: relative;
  top: 60vh;
  right: 10vw;
}

.img-protein1 {
  position: absolute;
  transform: translate3d(-32%, -124%, 0);
  width: 387px;
  height: 360px;
  z-index: 1;
  opacity: 0;
  animation: fade-in-down 2s forwards 0.5s;
}

.img-protein2 {
  position: absolute;
  transform: translate3d(51%, -119%, 0) rotate(9deg);
  width: 252px;
  height: 256px;
  z-index: 2;
  opacity: 0;
  animation: fade-in-down 2s forwards 0.9s;
}

.img-protein3 {
  position: absolute;
  transform: translate3d(-61%, -70%, 0);
  width: 280px;
  height: 267px;
  z-index: 2;
  opacity: 0;
  animation: fade-in-down 2s forwards 1s;
}

.img-protein4 {
  position: absolute;
  transform: translate3d(1%, -72%, 0);
  background-size: 100px 100px;
  width: 280px;
  height: 289px;
  z-index: 2;
  opacity: 0;
  animation: fade-in-down 2s forwards 1.3s;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
  }
}
/////////////////////////////////CAROUSEL/////////////////////

.container-content-caro{
  width: 100%;
  height: 100vh;
  margin-bottom: 20vh;
  font-family: 'Montserrat', sans-serif;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}
/////////////////////////About//////////////////////
.home-about{
  margin-top: 30vh;
display: flex;
flex-direction: row;
justify-content: center;
gap: 7%;
height: 80vh;
}

.about-sec1{
  width: 30%;
}

.about-sec2 img{
  height: 400px;
  width: 270px;
}
.about-h1{
  font-size: 40px;
}

.about-sec2{
  // border-radius: 1048px;
    border-color:#c50f1b;
    border-width: 37px;
    border-style: solid;
    margin-top: 0;
    height: 396px;
}
.about-sec2 :nth-child(1)
{
  border-color: #d2a869;
  border-width: 37px;
  border-style: solid;
  margin-top: 0;
  height: 396px;
}

.about-sec1 p{
max-width: 100%;
padding-left:3%;
font-size: 18px;
}

.ul-about li{
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  font-size: 18px;
}
.home-about-btn button {
  border-radius: 25px;
  width: 135px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: #f26e15;
  background-image: linear-gradient(to right, #f26e15, #f26e15 50%, white 50%);
  background-size: 200% 100%;
  transition: background-position 0.9s ease;
}

.home-about-btn button:hover {
  background-position: -100% 0;
  color: #ff8b3d;
  cursor: pointer;
}

/////////////////////////////Review////////////////////////////
.Review-Home{
  height: 100vh;
  margin-top: 30vh;
}
.review-title{
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;
}
////////////////////////LOGOS/////////////////
.logo{
  margin-top: 12vh;
  margin-bottom: -4vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  color: #111;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;

}


//////////////////////Responsive///////////////////////
/// 
//  @media only screen and  (min-width: 451px)  and (max-width: 502px) {

// .container-hero{
//   width: 20%;
// }

//   .hero-sec1
// {
//   padding-left: 193px;
//   margin-top: 20px;
// }

// .hero-sec2{
//   right: 90px;
// }
// }






@media only screen and (max-width: 652px) {
  .container-hero
  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 55vh;
  width: 100%;

  }

  .hero-sec1{
        margin: 5vh;
        padding-left: 178px;
  }
  
  .hero-h1{
    font-size: 41px;
    margin-bottom: -10px;
  }
.hero-p{
  width:90%;
  font-size: 16px;
}

  .hero-sec2 {
    top: 27vh;
    margin-left: 460px;

  }



.container-content-caro{
  margin-top: 50vh;
}

.hero-btn button {
  margin-left: 46px;
  margin-top: 11vh;
}

}




@media only screen and (max-width: 620px) {

.hero-sec2{
  right: 37vw;
  top: 25vh
}

.hero-sec1{
  padding-left: 150px;
  margin-top: 14px;
}


.img-protein1,
.img-protein3,
.img-protein4{
  width: 180px;
  height: 180px;
}

.img-protein2
{
  width: 155px;
  height: 155px;
}

.hero-btn button {
  margin-left: 38px;
}

  }


  
@media only screen and  (min-width: 478px) and (max-width: 550px) {


  .hero-sec1
{

  width: 60%;
 
  padding-left: 113px;

  margin-top: 20px;
}

.hero-sec2{
  right: 54vw;
}
}






@media only screen and  (min-width: 450px) and (max-width: 477px) {

.hero-sec1{
  padding-left: 90px;
}
.hero-sec1
{
  width: 60%;
}
.hero-sec2{
  right: 67vw;
}
}



@media only screen and  (min-width: 445px) and (max-width: 450px) {


  .hero-h1{
    font-size: px;
  }
  .hero-sec1{
    padding-left: 70px;
  }
  .hero-sec1
  {
    width: 60%;
  }
  .hero-sec2{
    right: 69vw;
  }
  }



@media only screen and  (min-width: 400px) and (max-width: 445px) {
  .hero-h1{
    font-size: 33px;
  width: 110%;

  }
  .hero-sec1{
    padding-left: 18px;
  }
  .hero-sec1
  {
    width: 60%;
  }
  .hero-sec2{
    right: 75vw;
  }

  .hero-btn button {
    margin-top: 15vh;
     margin-left: 20vw;
  }

  .hero-p{
    height: 7px;
  }
  }











@media only screen and  (min-width: 350px) and (max-width: 400px) {


.hero-h1{
  font-size: 30px;

}
  .hero-sec1{
    padding-left: 1px;
  
  }

  .hero-sec2 {
    right: 80vw;
    top: 28vh;
}

.hero-btn{
    margin-left: 15vw;

}
}


@media only screen and  (min-width: 350px) and (max-width: 390px) {


 .hero-p{
  width: 100%;
 }

 .hero-btn button {
  margin-top: 12vh;

 }

 .hero-sec2{
  right: 96vw;

 }
  }
  

  @media only screen and  (min-width: 300px) and (max-width: 350px) {

.hero-sec1{
  margin: 0;
  padding-left: 70px;

}

.hero-h1{
  font-size: 30px;
}

.hero-sec2{
  top: 29vh;
  right: 105vw;

}

.container-hero{
  margin-top: 2.5vh;
}

.hero-btn button {
  margin-top: 13vh;
}
.img-protein1,
.img-protein3,
.img-protein4{
  width: 150px;
  height: 150px;
}

.img-protein2
{
  width: 125px;
  height: 125px;
}
.hero-p {
  height: 27px;
}

.hero-btn button {
  margin-top: 15vh;
}
     }
  
  


  @media only screen and  (max-width: 300px) {
.hero-sec1{
padding-left: 20px;
     width: 100%;
     margin-top: 70px;
  }


  .hero-sec2 {
    right: 120vw;
  }

  .hero-btn button {
    margin-top: 15vh;
  }
}











@media only screen and  (min-width: 653px)  and (max-width: 1100px) {
.img-protein1,
.img-protein3,
.img-protein4{
  width: 250px;
  height: 250px;
}

.img-protein2{
  width: 200px;
  height: 200px;
}
.hero-sec2{
  right: 16vh;
}
  .hero-sec1{
    padding-left: 0rem;
  }


 .hero-btn button {
  margin-top: 12vh;
  }

.container-hero{
  gap: 0%;
}
}



@media only screen and  (min-width: 700px) and (max-width: 768px) 
{
  .img-protein1,
  .img-protein3,
  .img-protein4{
    width: 230px;
    height: 230px;
  }
  
  .img-protein2
  {
    width: 175px;
    height: 175px;
  }

  .container-hero{
    width: 100%;
  }

  .hero-sec2 {
    right: 26vh;
}
  

}


@media only screen and  (min-width: 620px) and (max-width: 768px) 


{

  .container-hero{
    width: 96%;
    margin-top: -25px;
  }
.hero-sec1{
  margin-left: 20px;

}

.hero-sec2{
  right: 30vw;
  // right: 36vw;
}

.img-protein1,
.img-protein3,
.img-protein4{
  width: 190px;
  height: 190px;
}

.img-protein2
{
  width: 165px;
  height: 165px;
}

.hero-h1{
  font-size: 38px;
}
}

// @media only screen and (max-width: 810px) {
   
//   .container-hero{
//     gap: 0%;
//   }
// }

//////////////////////////////////////Caro Responsive//////////
/// 

@media screen and (max-width: 652px) {

  .container-content-caro {
    margin-top: 29vh;
  }
}


@media screen and (max-width: 298px) {

  .container-content-caro {
    width: 116%;

  }
}



///////////////////////////////////////////////////
//////////////////////About///////////////////


@media screen and (max-width: 1150px) {

.about-sec2 img{
  height: 150px;
  width: 220px;
}

.home-about{
  height: 50vh;
  margin-top: -20vh;
}
.about-h1{
  font-size: 35px;
}

.about-sec2{
  // border-radius: 1048px;
    border-width: 37px;
    // margin-top: 7vh;
    height: 296px;

}
.about-sec2 :nth-child(1)
{
  border-width: 37px;
  border-style: solid;
  margin-top: 0;
  height: 296px;
}

.about-sec1 p{
max-width: 100%;
padding-left:3%;
font-size: 18px;
}

.ul-about li{
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  font-size: 18px;
}
}



@media screen and (max-width: 770px) {


  .about-sec2 img{
    height: 150px;
    width: 200px;
  }
  
  .about-h1{
    font-size: 30px;
  }
  
  .about-sec2{
      margin: 0 auto;
      width: 296px;
  }
  .about-sec2 :nth-child(1)
  {
    margin-top: 0;
    height: 296px;
  }
  
  .about-sec1 p{
  max-width: 100%;
  padding-left:3%;
  font-size: 15px;
  }
  
  .ul-about li{
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    font-size: 18px;
  }


  .home-about{
    margin-top: -40vh;
    margin-bottom: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:1%;
  }

  .about-sec1{
    width: 50%;
    padding-left: 30px;
  }

  .home-about-btn{
    width: 100%;
    text-align: center;
  }



.about-sec2 {

 margin: -380px 348px;
    width: 270px;
    border-width: 13px;
    height: 321px;
}
  }

  @media screen and (max-width: 768px) {
.about-sec2{

  margin: -380px 435px;
}
  }

  
  @media screen and (max-width: 610px) {

    .about-sec2 img{
      height: 150px;
      width: 150px;
    }
    
    .about-h1{
      font-size: 30px;
    }
    
    .about-sec2{
        margin: 0 auto;
        width: 250px;
        margin-bottom: 10vh;
        
    }
    .about-sec2 :nth-child(1)
    {
      margin-top: 0;
      height: 250px;
    }
    
    .about-sec1 p{
    max-width: 100%;
    padding-left:3%;
    font-size: 15px;
    }
    
    .ul-about li{
      font-size: 15px;
      font-weight: 500;
      line-height: 50px;
      font-size: 18px;
    }
  
  
    .home-about{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap:1%;
      margin-bottom: 70vh;
      margin-top: -55vh;

    }
  
    .about-sec1{
      width: 50%;
      padding-left: 30px;
    }
  
    .home-about-btn{
      width: 100%;
      text-align: center;
    }
  
    .about-sec1 p {
      max-width: 80%;
    } 
  
  .about-sec2 {
  
    margin: -438px 340px;
      width: 170px;
      border-width: 13px;
      height: 221px;
  }
    }


    @media screen and (max-width: 495px) {

      .about-sec2 img{
        height: 150px;
        width: 130px;
      }
      
      .about-h1{
        font-size: 30px;
      }
      
      .about-sec2{
        margin: -438px 240px;
        width: 200px;
        border-width: 13px;
        height: 234px;
      }
      .about-sec2 :nth-child(1)
      {
        margin-top: 0;
        height: 187px;
      }
      
      .about-sec1 p{
      max-width: 100%;
      padding-left:3%;
      font-size: 15px;
      }
      
      .ul-about li{
        font-size: 14px;
        font-weight: 500;
        line-height: 30px;
      }
    
    
      .home-about{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap:1%;
      }
    
      .about-sec1{
        width: 50%;
        padding-left: 30px;
        margin-bottom: 100px;
      }
    
      .home-about-btn{
        width: 100%;
        margin-left: 42vw;
      }
    
      .about-sec1 p {
        max-width: 80%;
      } 
    
  
      }


    @media screen and (max-width: 475px) {

      .about-sec2 img{
        height: 140px;
        width: 120px;
      }
      
      .about-h1{
        font-size: 25px;
        text-align: center;
        width: 100%;
      }
      
      .about-sec2 {
        margin: -370px auto;
        width: 194px;
        border-width: 8px;
        height: 234px;
      }
      
      
      .about-sec2 :nth-child(1)
      {
        margin-top: 0;
        height: 187px;
      }
      
      .about-sec1 p{
      max-width: 100%;
      padding-left:3%;
      font-size: 15px;
      text-align: center;
      }
      
      .ul-about{
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 0px;
        padding-left: 0px;
    }
    
    
      .home-about{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap:1%;
        margin-top: -30vh;
        margin-bottom: 50vh;
        
      }
    
      .about-sec1 {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-left: 0px;
        width: 100%;
        margin-bottom: 60vh;
      }
    
      .home-about-btn{
        width: 100%;
        margin: 0 130px;
      }
    
   
  
    }
    @media screen and (max-width: 428px) {
.about-sec1 {
        margin-bottom: 45vh;
    }
    }


    @media screen and (max-width: 414px) {
      .about-sec2 {
    margin: -370px auto;
    width: 194px;
    border-width: 8px;
    height: 234px;
}

    }

    @media screen and (max-width: 400px) {
      .about-sec2 {
        margin: -532px 90px;
        width: 194px;
        border-width: 8px;
        height: 234px;
        margin-bottom: 150vh;

      }
  
      .about-sec1 p{
      max-width: 95%;
      padding-left:3%;
      font-size: 15px;
      text-align: center;
      }
    
      .home-about{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap:1%;

        
      }

      .about-sec1{
        display: flex;
        margin-top: 121vh;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 93vh;

      }
    
      .home-about-btn{
        width: 100%;
        margin: 0 auto;
      }
    }


    @media screen and (max-width: 360px) {
.Review-Home{
  margin-top: 40vh;
}

      .home-about{
      margin-top: -70vh;

      }
    .about-sec2 {
      margin: -632px auto;
      width: 194px;
      border-width: 8px;
      height: 234px;
      margin-bottom: 150vh;
  }
  

}

    @media screen and (max-width: 355px) {

      .ul-about{
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 5px;
        padding-left: 0px;
    }

      .about-sec2 {
        margin: -532px auto;
        width: 194px;
        border-width: 8px;
        height: 234px;
        margin-bottom: 200vh;

      }
  
    
      .home-about{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap:1%;
        margin-bottom: 150vh;
        margin-top: -80vh;
        
      }

      .about-sec1{
        display: flex;
        margin-top: 250vh;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 105vh;
      }
    
      .home-about-btn{
        width: 100%;
        margin: 0 auto;
      }

    }
    
    @media screen and (max-width: 394px) {

.about-sec2 {
    margin: -608px auto;
    width: 194px;
    border-width: 8px;
    height: 234px;
    margin-bottom: 212vh;
}

.home-about{
  margin-top: -25vh;
}
    }


@media screen and (min-width: 770px) and (max-width: 900px)

{
  .home-about{
    margin-bottom: 60vh;
    margin-top: 10vh;
  }

  }

  @media screen and (min-width: 365px) and (max-width: 390px)
{
  .about-sec1 {
    display: flex;
    margin-top: 232vh;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 109vh;
}
}

@media screen and (min-width: 715px) and (max-width: 730px)

{
  .about-sec2 {
    margin: -380px 419px;
}

  }


  @media screen and (min-width: 630px) and (max-width: 715px)

{
  .about-sec2 {
    margin: -380px 390px;
}
  }


  @media screen and (min-width: 435px) and (max-width: 474px)

{
.home-about{
  height: 80vh;
}
  }




  @media screen and (min-width: 300px) and (max-width: 320px)

  {
    .home-about {
      margin-top: -56vh;
    }

  }



  
  @media screen and (min-width: 355px) and (max-width: 429px)

  {
.home-about{
  margin-bottom: 0vh;

}
.about-sec2 {
  margin: -270px auto;
}

    .about-sec2 {
      margin: -797px auto;
      margin-bottom: 231vh;
    }

    .home-about{
      margin-top: 30vh;
    }
    }
  

  @media screen and (min-width: 400px) and (max-width: 430px)

{
    .home-about {
      height: 0vh;
      margin-bottom: 73vh;
      margin-top: -10vh;
    }  

  .about-sec2{
      margin: -328px auto;
  }
  
}
  @media screen and (min-width: 330px) and (max-width: 395px)
  {
    .ul-about{
    padding-left: 40px;
    }
  }

  @media screen and (min-width: 355px) and (max-width: 365px)
{
  .about-sec2 {
    margin: -649px auto;
    margin-bottom: 128vh;


  }
}
    @media screen and (max-width: 328px) {
      .about-sec2 {
        margin: -532px auto;
        margin-bottom: 110vh;
      }
  
      .ul-about{
        gap: 41px;
        margin: 0px 20px;

      }

      }






    @media screen and (max-width: 284px) {
      .ul-about{
        display: flex;
        justify-content: space-around;
        gap: 0px;
        padding-left: 0px;
    }

      .about-sec2 {
        width: 194px;
        border-width: 8px;
        height: 234px;
        
      }
  
    
      .home-about{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap:1%;
        
      }

      .about-sec1{
        display: flex;
                      margin-top: 250vh;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding-left: 12px;
        width: 100%;
        margin-bottom: 88vh;
      }
    
      .home-about-btn{
        width: 100%;
        margin: 0 auto;
      }

    }